<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>Add Employee</title>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>-->
    <link  rel="stylesheet" href="/bootstrap.min.css"  type="text/css"/>
    <link  rel="stylesheet" href="/main.css"  type="text/css"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/allEmployees">Employees</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/addEmployee">Add Employee</a></li>
                <li><a href="/addManager">Add Manager</a></li>
                <li><a href="/addTechnology">Add Technology</a></li>
            </ul>
        </div>
    </div>
</nav>

<table>
    <tr>
        <th>Employee</th>
        <th>Manager</th>
        <th>Technology</th>

    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.name}">Onions</td>
        <td th:text="${employee.manager}">2.41</td>
        <td th:text="${employee.technology}">yes</td>
        <td><a th:href="@{employees/__${employee.id}__/update}"
               th:text="Update">1</a></td>
        <td><a th:href="@{employees/__${employee.id}__/delete}"
               th:text="Delete">1</a></td>

    </tr>

</table>


</body>
</html>